// General colors palette
$colors: (
  dashboard: #57947E,
);

$colors-theme: (
  primary: (
    default: map-get($colors, black),
    hover: map-get($colors, black),
  ),
  secondary: (
    default: map-get($colors, gray),
    hover: map-get($colors, matterhorn),
  ),
  accent: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, black),
  ),
  tertiary: map-get($colors, black),
  quaternary: map-get($colors, EauDeNil),
  success: map-get($colors, puerto-rico),
  warning: map-get($colors, buccaneer),
  error: map-get($colors, burnt-sienna),
  form-error: map-get($colors, error),
);

$colors-border: (
  primary: map-get($colors, silver),
  secondary: map-get($colors, gainsboro),
);

$colors-background: (
  primary: (
    default: map-get($colors, white),
    hover: map-get($colors, silver),
  ),
  secondary: (
    default: map-get($colors, white-smoke),
    hover: map-get($colors, gainsboro),
  ),
  tertiary: map-get($colors, suva-gray),
  grey8: map-get($colors, grey8),
  grey30: map-get($colors, grey30),
);
